appdirs==1.4.3
asgiref==3.2.7
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
defusedxml==0.6.0
Django==3.0.5
django-extensions==1.9.8
django-pardakht==1.4.1
idna==2.9
isodate==0.6.0
lxml==4.5.0
mysqlclient==1.4.6
Pillow==7.1.1
pytz==2019.3
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.1
typing==3.7.4.1
urllib3==1.25.9
zeep==2.5.0
