باتوجه به درخواست شما مبنی بر بازیابی گذرواژه در سایت مرکز پردازش های سریع دانشگاه شهید چمران اهواز، لطفا جهت تعیین گذرواژه جدید بر روی لینک زیر کلیک کنید

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

در بعضی از مرورگرها ممکن است لازم باشد آدرس را کپی و در نوار آدرس مرورگر قرار دهید.
توجه کنید که این لینک به مدت ۲۴ ساعت فعال است.


درصورتی که شما درخواست بازیابی گذرواژه نکرده اید،این ایمیل را نادیده بگیرید.
این ایمیل بصورت خودکار ارسال شده، لطفا به آن پاسخ ندهید.
ـــــــــــــــــــــــــــــــ
باتشکر,
پرتال مرکز پردازش های سریع | دانشگاه شهید چمران اهواز
{{ protocol }}://{{ domain }}
