{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}بازیابی رمزعبور | مرکز پزدازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <form dir="rtl" method="post">
            {% csrf_token %}

            {% ifequal message.tags 'error' %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endifequal %}

            <div class="form-header">
                <h3 class="form-title">
                    بازیابی رمزعبور
                </h3>
            </div>
            <div class="form-row">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-success btn-block mt-4">تایید</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        window.onload = function () {
            document.getElementById("id_email").classList.add("form-control");
        }
    </script>
{% endblock %}