{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ایمیل فرستاده شد | مرکز پزدازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block content %}
    <div class="box">
        <p class="text-right">
            اگر حسابی مرتبط با ایمیلی که وارد کردید موجود باشد، ایمیل حاوی لینک بازیابی رمزعبور تا دقایقی دیگر برای آن
            فرستاده خواهد شد.
        </p>
        <p class="text-right">
            اگر ایمیلی دریافت نکردید، لطفا مطمئن شوید همان ایمیل ثبت نامی خود را وارد کرده‌اید. همچنین پوشه اسپم را چک
            کنید.
        </p>
    </div>
{% endblock %}