{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}رمزعبور جدید | مرکز پزدازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="box">
            <form dir="rtl" method="post">
                {% csrf_token %}

                {% ifequal message.tags 'error' %}
                    <div class="messages">
                        <ul>
                            {% for message in messages %}
                                <li class="text-danger text-right small">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endifequal %}

                <div class="form-header">
                    <h3 class="form-title">
                        رمزعبور جدید
                    </h3>
                </div>
                {{ form }}
                <button class="btn btn-success btn-block mt-4" type="submit">تغییر رمزعبور</button>
            </form>
        </div>
    {% else %}
        <div class="box">
            <p class="text-right">
                لینک بازیابی پسورد نامعتبر است. احتمالا قبلا استفاده شده یا منقضی شده است. لطفا یک درخواست جدید بدهید
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        window.onload = function () {
            document.getElementById("id_new_password1").classList.add("form-control");
            document.getElementById("id_new_password2").classList.add("form-control");
            $("ul").css("display", "none");
            $("[for=id_new_password1]").addClass("label-right");
            $("[for=id_new_password2]").addClass("label-right");
        }
    </script>
{% endblock %}