{% extends 'mainapp/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}شروع پرداخت | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block content %}
    <div class="box box-50">
        <div class="form-header">
            <h3 class="form-title">
                اطلاعات پرداخت
            </h3>
        </div>
        <div class="form-group">
            <label class="label-right" for="price">مبلغ پرداخت</label>
            <div dir="rtl" id="price" class="text-md-center text-left font-weight-bold" style="margin-top: 7px;">
                {{ payment.price|intcomma:False }}
                تومان
            </div>
        </div>
        <div class="form-group">
            <label class="label-right" for="description">برای سرویس</label>
            <div id="description" class="text-md-center text-left font-weight-bold"
                 style="margin-top: 7px;">{{ payment.description }}</div>
        </div>
        <div class="text-right mt-3">
            {% for gateway in gateways %}
                <a id="gateway-btn" class="btn btn-outline-success"
                   href="{% url 'pardakht:select_gateway' payment.slug gateway.name %}">
                    پرداخت از طریق {{ gateway.display_name }}
                </a>
            {% empty %}
                درگاهی تعریف نشده است!
            {% endfor %}
        </div>
    </div>
{% endblock %}