{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="icon" href="{% static 'mainapp/img/big-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/adminsite_styles.css' %}">
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img style="display: block;margin: 0 auto;" src="{% static 'mainapp/img/big-logo.png' %}" alt="logo"
                 height="80px"/>
        </a>
    </h1>
{% endblock %}
