{% load static %}
<!doctype html>
<html lang="en">

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
{% endblock %}
<body>
{% block nav %}
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <form action="" class="w-100 h-100 d-flex justify-content-center align-items-center">
                        {% csrf_token %}
                        <label class="m-3" for="search"><i class="fas fa-search"></i></label>
                        <input name="search" id="search" class="form-control m-3" type="search">
                    </form>
                </div>
                <div class="col-4">
                    <a href="#"><img class="top-logo" src="{% static 'mainapp/img/big-logo.png' %}" alt="logo"></a>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-between align-items-center w-100 h-100">
                        <a href="{% url 'login' %}">ورود</a>
                        <a href="{% url 'register' %}">ثبت نام</a>
                        <a href="{% url 'index' %}">خانه</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block msg %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    some stuff
                </div>
                <div class="col-6">
                    contact us
                </div>
                <div class="col-12 text-center m-2">
                    All rights reserved , <span id="footer_year"></span>
                </div>
            </div>
        </div>

    </footer>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
{% endblock %}

</body>
</html>