{% load static %}
<!doctype html>
<html lang="en">

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
        <link rel="icon" href="{% static 'mainapp/img/big-logo.png' %}">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
                crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
{% endblock %}
<body>
{% block nav %}
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex justify-content-start align-items-center w-100 h-100">
                        {% if user.is_authenticated %}
                            <ul class="navbar-nav navbar-link">
                                <li class="nav-item dropdown">
                                    <a onmouseenter="profileHover()" class="nav-link dropdown-toggle my-link" href="#"
                                       id="navbardrop"
                                       data-toggle="dropdown">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </a>
                                    <div onmouseleave="profileHover()" class="dropdown-menu">
                                        <a class=" my-link" href="{% url 'index' %}">درخواست ها</a>
                                        <a class=" my-link" href="{% url 'edit_profile' %}">ویرایش پروفایل</a>
                                        <div class="dropdown-divider"></div>
                                        <a class=" my-link" href="{% url 'logout' %}">خروج از حساب</a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4">
                    <a href="{% url 'index' %}"><img class="top-logo" src="{% static 'mainapp/img/big-logo.png' %}"
                                                     alt="logo"></a>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-end align-items-center w-100 h-100">
                        {% if not user.is_authenticated %}
                            <a class="navbar-link my-link" href="{% url 'login' %}">ورود</a>
                            <a class="navbar-link my-link" href="{% url 'register' %}">ثبت نام</a>
                            <a class="navbar-link my-link d-none d-sm-flex" href="{% url 'index' %}">خانه</a>
                        {% else %}
                            <a class="navbar-link my-link" href="{% url 'new_request' %}">ارسال درخواست جدید</a>
                            <a class="navbar-link my-link d-none d-sm-flex" href="{% url 'index' %}">خانه</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block msg %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-sm-center text-md-left">
                    <p class="small m-3">Shahid Chamran University of Ahvaz, All rights reserved - <span
                            id="footer_current_year_eng"></span>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 text-sm-center text-md-right">
                    <p class="small m-3"> تمام حقوق مادی و معنوی این وب‌سایت متعلق به دانشگاه شهید چمران اهواز می باشد -
                        <span id="footer_current_year_fa"></span></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainapp/js/scripts.js' %}"></script>
    <script>
        document.getElementById("footer_current_year_fa").innerHTML = new Date().getFullYear();
        document.getElementById("footer_current_year_eng").innerHTML = new Date().getFullYear();
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

</body>
</html>