{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ویرایش پروفایل | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <form dir="rtl" method="post" action="{% url 'edit_profile' %}">
            {% csrf_token %}

            {% ifequal message.tags 'error' %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endifequal %}

            <div class="form-header">
                <h3 class="form-title">
                    ویرایش پروفایل
                </h3>
            </div>
            <div class="form-row">
                <div class="form-group col-12 d-flex">
                    <label class="label-right text-muted in-form-header" for="inputEmail4">اطلاعات شخصی</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-right" for="inputEmail4">نام</label>
                    <input value="{{ user.first_name }}" required name="first_name" type="text" class="form-control"
                           id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    <label class="label-right" for="inputPassword4">نام خانوادگی</label>
                    <input value="{{ user.last_name }}" required name="last_name" type="text" class="form-control"
                           id="inputPassword4">
                </div>
            </div>
            <div class="form-group">
                <label class="label-right" for="inputAddress">ایمیل</label>
                <input value="{{ user.email }}" required name="email" type="email" class="form-control"
                       id="inputAddress"
                       placeholder="ایمیل معتبر">
            </div>
            <div class="form-row">
                <div class="form-group col-12 d-flex">
                    <label class="label-right text-muted in-form-header" for="inputEmail4">اطلاعات دانشگاهی</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-right" for="inputEmail4">دانشگاه</label>
                    <input value="{{ profile.university }}" required name="uni" type="text" class="form-control"
                           id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    <label class="label-right" for="inputPassword4">رشته</label>
                    <input value="{{ profile.field }}" required name="field" type="text" class="form-control"
                           id="inputPassword4">
                </div>
            </div>
            <div class="form-group">
                <label class="label-right" for="inputAddress2">نام و نام خانوادگی استاد راهنما</label>
                <input value="{{ profile.guidance_master_full_name }}" required name="master_name" type="text"
                       class="form-control" id="inputAddress2">
            </div>
            <div class="form-group">
                <label class="label-right" for="inputAddress">ایمیل استاد راهنما</label>
                <input value="{{ profile.guidance_master_email }}" required name="master_email" type="email"
                       class="form-control"
                       id="inputAddress">
            </div>
            <button type="submit" class="btn btn-success btn-block">ویرایش</button>
        </form>
    </div>
{% endblock %}

