{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}فرم درخواست تمدید | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-50">
        <form dir="rtl" method="post" action="{% url 'extend' extended_service.serial_number %}">
            {% csrf_token %}

            {% ifequal message.tags 'error' %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endifequal %}

            <div class="form-header">
                <h3 class="form-title">
                    درخواست تمدید سرویس
                </h3>
            </div>

            <div class="form-row mt-4">
                <div class="form-group col-12">
                    <label class="label-right" for="service">سرویس انتخاب شده</label>
                    <input value="{{ extended_service.serial_number }}" name="service" readonly type="text"
                           class="form-control" id="service">
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col-sm-4">
                    <label class="label-right" for="days">تعداد روزها</label>
                    <input name="days" value="{{ rm.days_min }}" required type="number" class="form-control" id="days"
                           min="{{ rm.days_min }}" max="{{ rm.days_max }}">
                </div>
                <div class="form-group col-sm-4">
                    <label class="label-right" for="cost">هزینه کاربران سایر دانشگاه‌ها</label>
                    <div class="input-group">
                        <input required name="cost" value="0" readonly type="text"
                               class="form-control" id="cost">
                        <div class="input-group-prepend">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="label-right" for="cost_disc">هزینه کاربران دانشگاه</label>
                    <div class="input-group">
                        <input required name="cost_disc" value="0" readonly type="text" class="form-control"
                               id="cost_disc">
                        <div class="input-group-prepend">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block mt-4">ارسال</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function calculateCosts(ram, cpu, disk, days, os) {
            $.ajax({
                url: '{% url 'calc_cost' %}',
                type: "GET",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'ram': ram,
                    'cpu': cpu,
                    'disk': disk,
                    'days': days,
                    'os': os,
                },
                dataType: 'json',
                success: function (data) {
                    let cost = document.getElementById('cost');
                    let cost_dics = document.getElementById('cost_disc');
                    cost.value = data.total;
                    cost_dics.value = data.total_disc;
                }
            });
        }

        (function () {
            let os = "{{ extended_service.os }}";
            let cpu = {{ extended_service.cpu }};
            let ram = {{ extended_service.ram }};
            let disk = {{ extended_service.disk }};
            let days = document.getElementById('days').value;
            calculateCosts(ram, cpu, disk, days, os);
        })();
        document.getElementById('days').addEventListener('change', (e) => {
            let os = "{{ extended_service.os }}";
            let cpu = {{ extended_service.cpu }};
            let ram = {{ extended_service.ram }};
            let disk = {{ extended_service.disk }};
            let days = e.target.value;
            calculateCosts(ram, cpu, disk, days, os);
        });
    </script>

{% endblock %}