{% extends 'mainapp/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}صفحه اصلی | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% ifequal all_requests.count 0 %}
        <h3 class="text-center m-5 p-5">هیچ درخواستی ندارید، <span class="border-bottom border-success"><strong><a
                href="{% url 'new_request' %}"> برای ثبت درخواست اقدام کن</a></strong></span>
        </h3>
    {% else %}
        <div class="col-12 d-sm-none">
            <div class="alert alert-secondary mt-3 p-2 ml-auto mr-auto">
                <p>برای مشاهده کامل جدول، به طرفین بکشید</p>
                <p class="text-center mb-0 my-arrow">&harr;</p>
            </div>
        </div>
        <div class="table-responsive text-nowrap" dir="rtl">
            <table id="example" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>شماره سریال</th>
                    <th>تاریخ انقضا</th>
                    <th>مشخضات فنی سرویس</th>
                    <th>هزینه</th>
                    <th>وضعیت تایید</th>
                    <th>وضعیت سرویس</th>
                    <th>توضیحات</th>
                    <th>پرداخت</th>
                    <th>تمدید سرویس</th>
                    <th>لغو سرویس</th>
                </tr>
                </thead>
                <tbody>
                {% for req in all_requests %}
                    <tr class="table-{% ifequal req.acceptance_status 'Pen' %}warning{% endifequal %}{% ifequal req.acceptance_status 'Acc' %}success{% endifequal %}{% ifequal req.acceptance_status 'Rej' %}danger{% endifequal %}{% ifequal req.acceptance_status 'Acc' %}{% ifnotequal req.renewal_status 'Ok' %} table-danger{% endifnotequal %}{% endifequal %}">
                        <td>{{ forloop.counter }}</td>
                        <td id="serial{{ req.pk }}">{{ req.serial_number }}</td>
                        <td>{{ req.date_expired.isoformat }}</td>
                        <td>
                            <button type="button" class="btn" data-toggle="modal"
                                    data-target="#techModal{{ forloop.counter }}">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                        </td>
                        <td>{{ req.show_cost|intcomma }} تومان</td>
                        <td>
                            {% ifequal req.acceptance_status 'Acc' %}
                                <i class="far fa-check-circle accept-icon"></i>{% endifequal %}
                            {% ifequal req.acceptance_status 'Rej' %}
                                <i class="far fa-times-circle reject-icon"></i>{% endifequal %}
                            {% ifequal req.acceptance_status 'Pen' %}درانتظارتایید{% endifequal %}
                            {% ifequal req.acceptance_status 'Exting' %}درانتظارتمدید{% endifequal %}
                            {% ifequal req.acceptance_status 'Caning' %}درانتظارلغو{% endifequal %}
                            {% ifequal req.acceptance_status 'Paying' %}درانتظارپرداخت{% endifequal %}
                            {% ifequal req.acceptance_status 'AccPaying' %}درانتظارتاییدپرداخت{% endifequal %}
                        </td>
                        <td>{{ req.get_renewal_status_display }}</td>
                        <td>{% if req.description %}
                            <button type="button" class="btn" data-toggle="modal"
                                    data-target="#myModal{{ forloop.counter }}">
                                <i class="fas fa-comment text-info"></i>
                            </button>{% endif %}</td>
                        <td>
                            {% ifequal req.acceptance_status 'Paying' %}
                                <a data-toggle="tooltip" title="هزینه سرویس را پرداخت کنید"
                                   class="btn btn-outline-info" aria-disabled="true"
                                   href="{% url 'pay' req.serial_number %}">
                                    پرداخت <i class="far fa-money-bill-alt"></i>
                                </a>
                            {% endifequal %}
                        </td>
                        <td>
                            <a data-toggle="tooltip" title="ارسال درخواست تمدید سرویس" class="extend-link"
                               href="{% url 'extend' req.serial_number %}">
                                <i class="fas fa-calendar-plus"></i>
                            </a>
                        </td>
                        <td>
                            <a data-toggle="tooltip" title="ارسال درخواست لغو سرویس" onclick="cancelYN({{ req.pk }})"
                               class="cancel-link" href="#">
                                <i class="fas fa-power-off"></i>
                            </a>
                        </td>
                    </tr>
                    {% if req.description %}
                        <!-- The DescriptionModal -->
                        <div class="modal fade" id="myModal{{ forloop.counter }}">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">توضیحات</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body text-right">
                                        {{ req.description|linebreaks }}
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- The TechnicalModal -->
                    <div class="modal fade" id="techModal{{ forloop.counter }}">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">مشخضات فنی</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div id="accordion{{ forloop.counter }}">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0 text-center">
                                                    <button class="btn btn-link btn-block" data-toggle="collapse"
                                                            data-target="#collapseOne{{ forloop.counter }}"
                                                            aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                        سیستم‌عامل
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne{{ forloop.counter }}" class="collapse show"
                                                 aria-labelledby="headingOne"
                                                 data-parent="#accordion{{ forloop.counter }}">
                                                <div class="card-body text-center">
                                                    {% ifequal req.os 'Lin' %}
                                                        <i class="fab fa-linux os-icon-linux"></i>
                                                    {% else %}
                                                        <i class="fab fa-windows os-icon-windows"></i>
                                                    {% endifequal %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-block collapsed"
                                                            data-toggle="collapse"
                                                            data-target="#collapseTwo{{ forloop.counter }}"
                                                            aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                        دیسک
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo{{ forloop.counter }}" class="collapse"
                                                 aria-labelledby="headingTwo"
                                                 data-parent="#accordion{{ forloop.counter }}">
                                                <div class="card-body">
                                                    ‌{{ req.disk|floatformat }} گیگابایت
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-block collapsed"
                                                            data-toggle="collapse"
                                                            data-target="#collapseThree{{ forloop.counter }}"
                                                            aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                        حافظه رم
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseThree{{ forloop.counter }}" class="collapse"
                                                 aria-labelledby="headingThree"
                                                 data-parent="#accordion{{ forloop.counter }}">
                                                <div class="card-body">
                                                    ‌{{ req.ram|floatformat }} گیگابایت
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-block collapsed"
                                                            data-toggle="collapse"
                                                            data-target="#collapseFour{{ forloop.counter }}"
                                                            aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                        هسته‌های پردازشی
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseFour{{ forloop.counter }}" class="collapse"
                                                 aria-labelledby="headingThree"
                                                 data-parent="#accordion{{ forloop.counter }}">
                                                <div class="card-body">
                                                    ‌{{ req.cpu|floatformat }} عدد
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-block collapsed"
                                                            data-toggle="collapse"
                                                            data-target="#collapseFive{{ forloop.counter }}"
                                                            aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                        برنامه ها
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseFive{{ forloop.counter }}" class="collapse"
                                                 aria-labelledby="headingThree"
                                                 data-parent="#accordion{{ forloop.counter }}">
                                                <div class="card-body">
                                                    ‌{{ req.app_name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endifequal %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "paging": false,
                "ordering": true,
                "info": false,
                "searching": false,
                "columnDefs": [
                    {"orderable": false, "targets": 3},
                    {"orderable": false, "targets": 8},
                    {"orderable": false, "targets": 9},
                    {"orderable": false, "targets": 10},
                ]
            });

        });
    </script>
{% endblock %}