{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}صفحه اصلی{% endblock %}

{% block msg %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% ifequal all_requests.count 0 %}
        <h3 class="text-center m-5 p-5">هیچ درخواستی ندارید، <span class="border-bottom border-success"><strong><a href="{% url 'new_request' %}"> برای ثبت درخواست اقدام کن</a></strong></span>
        </h3>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-hover" dir="rtl">
                <thead>
                <tr>
                    <th>#</th>
                    <th>تاریخ درخواست</th>
                    <th>تاریخ انقضا</th>
                    <th>سیستم عامل</th>
                    <th>نام برنامه ها</th>
                    <th>پردازنده</th>
                    <th>رم</th>
                    <th>دیسک</th>
                    <th>هزینه</th>
                    <th>توضیحات</th>
                    <th>شماره سریال</th>
                    <th>وضعیت تایید</th>
                    <th>وضعیت سرویس</th>
                    <th>تمدید سرویس</th>
                    <th>لغو سرویس</th>
                </tr>
                </thead>
                <tbody>
                {% for req in all_requests %}
                    <tr class="table-{% ifequal req.acceptance_status 'Pen' %}warning{% endifequal %}{% ifequal req.acceptance_status 'Acc' %}success{% endifequal %}{% ifequal req.acceptance_status 'Rej' %}danger{% endifequal %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ req.date_requested.isoformat }}</td>
                        <td>{{ req.date_expired.isoformat }}</td>
                        <td>{{ req.get_os_display }}</td>
                        <td>{{ req.app_name }}</td>
                        <td>{{ req.cpu }}GHz</td>
                        <td>{{ req.ram }}GB</td>
                        <td>{{ req.disk }}GB</td>
                        <td>{{ req.show_cost }}تومان</td>
                        <td>{{ req.description }}</td>
                        <td>{{ req.serial_number }}</td>
                        <td>{{ req.get_acceptance_status_display }}</td>
                        <td>{{ req.get_renewal_status_display }}</td>
                        <td>none</td>
                        <td>none</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endifequal %}
{% endblock %}