{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ورود{% endblock %}

{% block content %}
    <div class="box">
        <form dir="rtl">
            <div class="form-group">
                <label class="label-right" for="exampleInputEmail1">ایمیل</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-danger text-right">error goes here
                </small>
            </div>
            <div class="form-group">
                <label class="label-right" for="exampleInputPassword1">رمز عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success btn-block">ورود</button>
        </form>
        <div class="border-top m-4">
            <a class="d-block text-right m-2 small " href="#">ثبت نام</a>
            <a class="d-block text-right m-2 small" href="#">ورود بعنوان مدیر</a>
        </div>
    </div>
{% endblock %}
