{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ورود | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block head %}
    {{ block.super }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <form dir="rtl" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% ifequal message.tags 'error' %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endifequal %}

            <div class="form-header">
                <h3 class="form-title">
                    ورود به حساب کاربری
                </h3>
            </div>

            <div class="form-group">
                <label class="label-right" for="exampleInputEmail1">ایمیل</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-left-0"><i class="fas fa-at"></i></span>
                    </div>
                    <input name="email" required type="email" class="form-control border-right-0 text-left" dir="ltr"
                           id="exampleInputEmail1">
                </div>
            </div>
            <div class="form-group">
                <label class="label-right" for="exampleInputPassword1">رمز عبور</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-left-0"><i class="fas fa-key"></i></span>
                    </div>
                    <input name="password" required type="password" class="form-control border-right-0 text-left"
                           dir="ltr"
                           id="exampleInputPassword1" aria-describedby="passHelp">
                    <a class="d-block w-100 text-right mt-1" href="{% url 'password_reset' %}">
                        <small id="passHelp" class="form-text text-muted">رمز عبور خود را فراموش کرده‌اید؟
                        </small>
                    </a>
                </div>
            </div>
            {#            <div class="captcha g-recaptcha" data-sitekey="6LfBE-kUAAAAAJPkm3umVjcukTc5aRVysfYvlH7o"></div>#}
            <button type="submit" class="btn btn-success btn-block">ورود</button>
        </form>
        <div class="border-top m-4">
            <a class="d-block text-right m-2 small " href="{% url 'register' %}">.حساب ‌کاربری ندارید؟ ثبت‌ نام کنید</a>
            <a class="d-block text-right m-2 small " href="mailto:hpc@scu.ac.ir" target="_blank">تماس با پشتیبانی</a>
            <a class="d-block text-right m-2 small " href="https://scu.ac.ir/web/hpc/faq" target="_blank">سوالات
                متداول</a>
        </div>
    </div>
{% endblock %}
