{% load jalali_tags %}
<body>
<div dir="rtl" style="text-align: right; font-family: IranSans,Roboto,sans-serif;">
    <p>مدیر محترم پرتال،</p>
    <p>در تاریخ
        <span dir="rtl">{{ date|to_jalali }}</span>
        ساعت
        <span dir="rtl">{{ time }}</span>
        یک پرداخت موفق جدید توسط
        {{ user.get_full_name }}
        برای سرویس به شماره سریال
        <span dir="rtl">{{ obj.serial_number }}</span>
        در پرتال ثبت شد.
    </p>
    <br>
    ـــــــــــــــــــــــــــــــ
    <p>باتشکر,</p>
    <p>مرکز پردازش های سریع دانشگاه شهید چمران اهواز</p>
    <p>آدرس: اهواز،بلوار گلستان، دانشگاه شهید چمران اهواز،دانشکده مهندسی، دفتر گروه مهندسی کامپیوتر</p>
    <br>
    <p>وبسایت مرکز: </p>
    <p><a href="http://scu.ac.ir/web/hpc/main">http://scu.ac.ir/web/hpc/main</a></p>
    <p>کانال اطلاع رسانی مرکز:</p>
    <p><a href="https://t.me/scuhpcc">https://t.me/scuhpcc</a></p>
    <p>ایمیل پشتیبانی:</p>
    <p><a href="mailto:hpc@scu.ac.ir">hpc@scu.ac.ir</a></p>
</div>
</body>