{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ثبت درخواست جدید{% endblock %}

{% block msg %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-60">
        <form dir="rtl" method="post" action="{% url 'new_request' %}">
            {% csrf_token %}

            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="form-header">
                <h3 class="form-title">
                    ثبت درخواست جدید
                </h3>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="label-right" for="os">سیستم عامل</label>
                    <select name="os" required id="os" class="form-control custom-select">
                        <option value="">انتخاب کنید...</option>
                        <option value="Win">Windows</option>
                        <option value="Lin">Linux</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="label-right" for="cpu">پردازنده</label>
                    <div class="input-group">
                        <input onchange="calcCost()" name="cpu" required value="0" type="number" class="form-control"
                               id="cpu">
                        <div class="input-group-prepend">
                            <span class="input-group-text">GHz</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="label-right" for="ram">حافظه رم</label>
                    <div class="input-group">
                        <input onchange="calcCost()" name="ram" required value="0" type="number" id="ram"
                               class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="label-right" for="disk">دیسک</label>
                    <div class="input-group">
                        <input onchange="calcCost()" name="disk" required value="0" type="number" id="disk"
                               class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label-right" for="tokenfield">برنامه ها</label>
                <input required name="app_name" type="text" class="form-control" id="tokenfield"
                       placeholder="بعد از وارد کردن نام هر برنامه،اینتر را بزنید"/>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="label-right" for="days">تعداد روزها</label>
                    <input onchange="calcCost()" name="days" value="0" required type="number" class="form-control"
                           id="days">
                </div>
                <div class="form-group col-md-8">
                    <label class="label-right" for="cost">هزینه برآورد شده</label>
                    <div class="input-group">
                        <input name="cost" value="0" readonly type="number" class="form-control" id="cost">
                        <div class="input-group-prepend">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">ارسال درخواست</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
      <script>
        $('#tokenfield').tokenfield({
            autocomplete: {
                source: ['MathLab', 'ANSYS'],
                delay: 100
            },
            showAutocompleteOnFocus: true
        })
    </script>
{% endblock %}