{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}ثبت درخواست جدید | مرکز پردازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block head %}
    {{ block.super }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block msg %}
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    showMsg("{{ message }}", "{{ message.tags }}", null, "باشه", false, 2500);
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-70">
        <form dir="rtl" method="post" action="{% url 'new_request' %}">
            {% csrf_token %}

            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li class="text-danger text-right small">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="form-header">
                <h3 class="form-title">
                    ثبت درخواست جدید
                </h3>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label class="label-right" for="os">سیستم عامل</label>
                    <select name="os" required id="os" class="form-control custom-select">
                        <option value="Lin">Linux</option>
                        <option value="Win">Windows</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col-12 col-sm-2">
                    <label class="label-right" for="cpu">هسته پردازشی</label>
                    <div class="input-group">
                        <input name="cpu" required type="number" class="form-control" id="cpu">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">عدد</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6 col-sm-2">
                    <label class="label-right" for="ram">حافظه رم</label>
                    <div class="input-group">
                        <input name="ram" required type="number" id="ram"
                               class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6 col-sm-2">
                    <label class="label-right" for="disk">دیسک</label>
                    <div class="input-group">
                        <input name="disk" required type="number" id="disk"
                               class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label class="label-right" for="apps">برنامه ها</label>
                    <select required name="app_name" id="apps" class="selectpicker form-control" multiple>
                        <option value="Abaqus">Abaqus</option>
                        <option value="Ansys">Ansys</option>
                        <option value="Bowtie">Bowtie</option>
                        <option value="Flow3d">Flow3d</option>
                        <option value="Gaussian">Gaussian</option>
                        <option value="Gromacs">Gromacs</option>
                        <option value="Lammps">Lammps</option>
                        <option value="Matlab">Matlab</option>
                        <option value="Namd">Namd</option>
                        <option value="Siesta">Siesta</option>
                        <option value="Other">سایر</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col-sm-2">
                    <label class="label-right" for="days">تعداد روزها</label>
                    <input name="days" required type="number" class="form-control"
                           id="days">
                </div>
                <div class="form-group col-sm-5">
                    <label class="label-right" for="cost">هزینه کاربران سایر دانشگاه‌ها</label>
                    <div class="input-group">
                        <input required name="cost" value="0" readonly type="text"
                               class="form-control" id="cost">
                        <div class="input-group-prepend">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-5">
                    <label class="label-right" for="cost_disc">هزینه کاربران دانشگاه</label>
                    <div class="input-group">
                        <input required name="cost_disc" value="0" readonly type="text" class="form-control"
                               id="cost_disc">
                        <div class="input-group-prepend">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mt-4">
                <div class="form-group col-12">
                    <label class="label-right" for="user_desc">توضیحات بیشتر</label>
                    <textarea class="form-control" id="user_desc" name="user_desc" rows="4"
                              placeholder="اگر سوالی دارید یا نام برنامه مورد نظرتان در لیست نبود، در این قسمت بنویسید..."></textarea>
                </div>
            </div>
            <div class="captcha g-recaptcha" data-sitekey="6LcMofYUAAAAANa0pT9d7AmBi7YF5n3tV7NuOlBm"></div>
            <!--local site-key: 6LfBE-kUAAAAAJPkm3umVjcukTc5aRVysfYvlH7o -->
            <!--server site-key: 6LcMofYUAAAAANa0pT9d7AmBi7YF5n3tV7NuOlBm -->
            <button type="submit" class="btn btn-success btn-block mt-4">ارسال درخواست</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


    <script type="text/javascript">
        function calculateCosts(ram, cpu, disk, days, os) {
            $.ajax({
                url: '{% url 'calc_cost' %}',
                type: "GET",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'ram': ram,
                    'cpu': cpu,
                    'disk': disk,
                    'days': days,
                    'os': os,
                },
                dataType: 'json',
                success: function (data) {
                    let cost = document.getElementById('cost');
                    let cost_dics = document.getElementById('cost_disc');
                    cost.value = data.total;
                    cost_dics.value = data.total_disc;
                }
            });
        }

        function changeValuesBasedOnOs(os) {
            $.ajax({
                url: '{% url 'get_limits_based_on_os' %}',
                type: "GET",
                data: {
                    'csrfmiddlewaretoken': '{{ cstf_token }}',
                    'os': os,
                },
                dataType: 'json',
                success: function (data) {
                    let result = JSON.parse(data)[0]['fields'];
                    let cpu = document.getElementById('cpu');
                    let ram = document.getElementById('ram');
                    let disk = document.getElementById('disk');
                    let days = document.getElementById('days');
                    cpu.value = result['cpu_min'];
                    cpu.setAttribute('min', result['cpu_min']);
                    cpu.setAttribute('max', result['cpu_max']);
                    ram.value = result['ram_min'];
                    ram.setAttribute('min', result['ram_min']);
                    ram.setAttribute('max', result['ram_max']);
                    disk.value = result['disk_min'];
                    disk.setAttribute('min', result['disk_min']);
                    disk.setAttribute('max', result['disk_max']);
                    days.value = result['days_min'];
                    days.setAttribute('min', result['days_min']);
                    days.setAttribute('max', result['days_max']);
                    calculateCosts(ram.value, cpu.value, disk.value, days.value, os);
                }
            });
        }

        (function () {
            let el = document.getElementById('os');
            changeValuesBasedOnOs(el.value);
        })();

        document.getElementById('os').addEventListener('change', (e) => {
            let el = e.target;
            changeValuesBasedOnOs(el.value)
        });

        let elementsArray = [document.getElementById('ram'), document.getElementById('cpu'), document.getElementById('disk'), document.getElementById('days')]

        elementsArray.forEach(function (elem) {
            elem.addEventListener('change', function () {
                let cpu = document.getElementById('cpu').value;
                let ram = document.getElementById('ram').value;
                let disk = document.getElementById('disk').value;
                let days = document.getElementById('days').value;
                let os = document.getElementById('os').value;
                calculateCosts(ram, cpu, disk, days, os);
            })
        })
    </script>

    <script>
        $('#apps').selectpicker();
    </script>
{% endblock %}