{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}صفحه‌ی موردنظر یافت نشد | مرکز پزدازش سریع دانشگاه شهید چمران اهواز{% endblock %}

{% block content %}
    <h3 class="text-center m-5 font-weight-bolder display-4">صفحه‌ی موردنظر یافت نشد</h3>
    <p class="text-center m-3 font-weight-bolder"><a class="text-primary"
                                                                                href="{% url 'index' %}">مرا
        به صفحه‌ی
        اصلی بازگردان</a>
    </p>
{% endblock %}