@font-face {
    font-family: "IranSans";
    src: url("../fonts/IRANSansWeb(FaNum).ttf");
}

* {
    font-family: "IranSans", serif !important;
}

div#content-related {
    display: none;
}

input[name="_continue"] {
    display: none;
}

input[name="_addanother"] {
    display: none;
}

.reject {
    background: #ba2121 !important;
}

.reject:link, .reject:visited {
    background: #CC3434 !important;
}

.reject:hover {
    background: #CC3434 !important;
    text-decoration: none !important;
}

.reject:focus {
    background: #721c24 !important;
}

/*div.submit-row {*/
/*display: flex;*/
/*justify-content: center;*/
/*width: 100%;*/
/*padding: 1em 0 0!important;*/
/*}*/