@font-face {
    font-family: "IranSans";
    src: url("../fonts/IRANSansWeb(FaNum).ttf");
}

* {
    font-family: "IranSans", serif !important;
}

div#content-related {
    display: none;
}

input[name="_continue"] {
    display: none;
}

input[name="_addanother"] {
    display: none;
}

.reject {
    background: #ba2121 !important;
}

.reject:link, .reject:visited {
    background: #CC3434 !important;
}

.reject:hover {
    background: #CC3434 !important;
    text-decoration: none !important;
}

.reject:focus {
    background: #721c24 !important;
}

tr.model-profile {
    display: none;
}

th, td {
    vertical-align: middle;
    text-align: center;
}

th > div > a, th > div {
    text-align: center;
}

tr > th[class^="field-"] {
    text-align: center;
}

.row2 {
    background-color: #d1ecf9;
}

.row2:hover {
    background-color: #79AEC8;
    transition: 0.2s background-color;
}

.row1:hover {
    background-color: #d0c9c9;
    transition: 0.2s background-color;
}

.row2.selected, .row1.selected {
    background-color: #b5efb5 !important;
}

/*div.submit-row {*/
/*display: flex;*/
/*justify-content: center;*/
/*width: 100%;*/
/*padding: 1em 0 0!important;*/
/*}*/