@font-face {
    font-family: "IranSans";
    src: url("../fonts/IRANSansWeb(FaNum).ttf");
}

* {
    font-family: "IranSans", serif !important;
}

div#content-related {
    display: none;
}

div.submit-row {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em 0 0!important;
}