* {
    box-sizing: border-box;
}

@font-face {
    font-family: "IranSans";
    src: url("../fonts/IRANSansWeb(FaNum).ttf");
}

body {
    font-family: "IranSans", serif;
    font-size: 18px;
    overflow-x: hidden;
    background-color: #f7fcf7;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
}

.top-logo {
    display: block;
    margin: 15px auto;
    height: 95px;
    transition: 250ms ease-in-out;
}

.top-logo:hover {
    opacity: 65%;
}

nav {
    box-shadow: 0 10px 15px -15px #28a745;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

label.custom-file-label {
    text-align: center;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "فایل‌ها";
}


.box {
    padding: 20px;
    width: 500px;
    margin: 100px auto;
    box-shadow: 1px 2px 9px #5a6268;
    border: 1px solid #5a6268;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
}

.box-60 {
    width: 60% !important;
}

.box-70 {
    width: 70% !important;
}

.label-right {
    width: 100%;
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 -2px 10px #28a745;
    -moz-box-shadow: 0 -2px 10px #28a745;
    box-shadow: 0 -2px 10px #28a745;
    background-color: white;
    opacity: 70%;
}

.alert {
    width: fit-content;
    margin: 10px 10px 0 auto;
}

div.dropdown-menu a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}

.navbar-link {
    margin: 10px 30px;
}

th {
    text-align: center;
    font-size: small;
}

.form-header {
    border-bottom: 1px solid transparent;
    margin-bottom: 5px;
}

.form-title {
    font-weight: bolder;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #baf7ba;
}

.table thead th {
    vertical-align: middle;
}

.table tbody td {
    vertical-align: middle !important;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
}

.extend-link {
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    color: #28a745;
}

.cancel-link {
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    color: red;
}

.captcha {
    display: flex;
    margin: 15px;
    justify-content: center;
}

.in-form-header {
    margin: 30px 5px 0 0;
    border-bottom: 1px solid #e6e1e1;
    width: 50%;
    font-size: 15px;
}

.os-icon-linux {
    font-size: 35px;
    color: #6b6854;
}

.os-icon-windows {
    font-size: 35px;
    color: #07c9f5;
}

.accept-icon {
    font-size: 17px;
    color: #0b7021;
}

.midnightblue {
    color: midnightblue;
}

.reject-icon {
    font-size: 17px;
    color: #fa511e;
}

.my-link {
    font-size: 16px;
    font-weight: bolder;
    white-space: nowrap;
}

.my-link:hover {
    transition: 100ms linear;
    opacity: 70%;
    color: #28a745;
}

.footer:hover {
    transition: 150ms linear;
    opacity: 1;
}

button.close {
    margin-left: 0 !important;
}

.alert {
    text-align: right !important;
}

div.swal-title {
    direction: rtl;
}

div.swal-text {
    direction: rtl;
    text-align: center;
}

/*remove inc/dec arrows in input types*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*end*/

.line-trough {
    text-decoration: line-through;
}

div.filter-option-inner-inner {
    text-align: right;
}

#user_desc.form-control::placeholder {
    font-size: 14px;
}

label.label-right {
    font-size: 14px;
    white-space: nowrap;
}

.box-50 {
    width: 50% !important;
}

th {
    cursor: pointer;
}

/*mobile view*/
@media (max-width: 575px) {
    label.custom-file-label {
        text-align: left;
        font-size: 13px;
    }

    .alert {
        margin: 10px 8px;
        font-size: 15px;
    }

    .box {
        width: 90% !important;
    }

    .box-60 {
        width: 90% !important;
    }

    box-70 {
        width: 90% !important;
    }

    .small-tip {
        font-size: 12px;
        word-spacing: -2px;
    }

    .top-logo {
        height: 70px;
    }

    .my-link {
        font-size: 11px;
        white-space: nowrap;
    }

    .text-sm-center {
        text-align: center !important;
    }

    .navbar-link {
        margin: 10px 10px;
    }

    .dropdown-menu {
        min-width: 8rem;
    }

    .form-title {
        font-size: 20px;
    }

    .my-arrow {
        font-size: 45px;
        margin-top: -35px;
    }

    div.alert-info {
        margin-left: auto;
    }

    label.label-right {
        font-size: 15px;
    }

    div.table-responsive {
        margin-bottom: 110px;
    }

    .footer {
        opacity: 1 !important;
    }
}